@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Open+Sans&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Button style  */
.btn-primary {
  background: #f15b22;
  border-radius: 5px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  border-radius: 8px;
}
.btn-secondary {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  border: 0;
  border-radius: 8px;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #151414;
}

.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
header {
  background-image: url("../assets/banner/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  height: 800px;
  margin: auto 200px;
}
.banner-container p {
  text-align: right;
  word-wrap: break-word;
  width: 500px;
}

.my-failure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
  width: 1074px;
  margin: 130px auto;
}
.my-failure img {
  width: 100%;
  height: 100%;
}
.my-plan {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.my-plan-container {
  display: flex;
  gap: 85px;
  margin-bottom: 130px;
}
.my-plan-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.call-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1140px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 10px;
  background-image: linear-gradient(
      90deg,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url(../assets/watch.png);
  background-repeat: no-repeat;

}
