/* Font Work sans */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Open+Sans&family=Work+Sans:wght@400;500;600;700&display=swap");
/* Global style */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Button style  */
.btn-primary {
  background: #f15b22;
  border-radius: 5px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn-secondary {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
/* Button Hover style  */
/* ### Extra section  ### */
.btn-primary:hover {
  background: #ffffff;
  color: #f15b22;
  border: 0.5px solid #f15b22;
  transition: ease-in 0.3s;
}

.btn-secondary:hover {
  background: #f15b22;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  transition: ease-in 0.3s;
}

/* section title style */
.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #151414;
}
.text-white {
  color: #ffffff;
}
.section-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #444343;
}

/* Header style  */
header {
  background-image: url("../assets/banner/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Banner style  */
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  height: 800px;
  margin: auto 200px;
}
.banner-container p {
  text-align: right;
  width: 500px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  width: 500px;
}

/* My Failure section style  */

.my-failure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
  width: 1074px;
  margin: 130px auto;
}
.my-failure img {
  width: 100%;
  height: 100%;
  background: url(../assets/circle-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.my-failure p {
  margin-bottom: 20px;
  text-align: justify;
}
.my-failure li {
  list-style: none;
  line-height: 35px;
}
.my-failure li i {
  color: #16d887;
  font-weight: 700px;
}

/* My plan section  style */
.my-plan {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.my-plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 230;
  width: 1140px;
}
.my-plan-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.my-plan-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
}
.my-plan-description {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}

/* Call Now Section style*/
.call-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1140px;
  margin: 120px auto;
  padding: 60px;
  gap: 20px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #f15b22 0%, #f15b2200 100%),
    url(../assets/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.call-now h2 {
  width: 459px;
}

/* Contact Me section style */
/* #### Extra section ##### */
.contact-me {
  margin: 110px auto;
  height: 550px;
  width: 1140px;
  border-radius: 15px;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: linear-gradient(
    to right top,
    #f01e0ba7,
    #f3764989,
    #f15b2272
  );
}
.contact-me:hover {
  background-image: linear-gradient(
    to right bottom,
    #f01e0ba7,
    #f3764989,
    #f15b2272
  );
}
.contact-me h4 {
  color: #151414cd;
}
/* form style */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
form input[type="text"],
input[type="email"],
textarea {
  width: 600px;
  font-size: 18px;
  padding: 21px;
  border: 0;
  border-bottom: 0.5px solid #f15b22;
  border-radius: 8px;
  color: #444343;
  outline: none;
  background: #e3dcdc;
}
form button {
  width: 100%;
}

/* Footer style */
footer {
  display: flex;
  justify-content: space-around;
  background: #151414;
  align-items: center;
  width: 100%;
  height: 570px;
}

.footer-left {
  width: 485px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-left a {
  margin-right: 15px;
}
.footer-right {
  width: 485px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-right h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}
.footer-right input[type="email"] {
  width: 325px;
  font-size: 18px;
  padding: 21px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #f3f3f3;
  background: #151414;
  outline: none;
}
.footer-right input[type="submit"] {
  width: 170px;
}
